@use './components/navbar';
@use './components/hero';
@use './components/uslugi';
@use './components/team' ;
@use './components/mobilni';
@use './components/erp';
@use './components/dizayn';
@use './components/construktor';
@use './components/client';
@use './components/portfolio';
@use './components/svyaz';
@use './components/footer';


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    scroll-behavior: smooth;
  }
  
  .container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
  }
  
