.clients-section {
  padding: 30px 0;
  overflow: hidden;
  position: relative;

  .animate {
    display: flex;
    position: relative;
    margin-bottom: 50px;
    .anim__wrapper {
      display: flex;
      animation: scrollx 40s linear infinite;
      .anim__img {
        min-width: 100px;
        margin-right: 30px;
        transition: all 0.2s linear;
        box-shadow: 4px 4px 16px #0001;
        border-radius: 24px;
        &:hover {
          transform: scale(1.05);
          box-shadow: 4px 4px 16px #0001;
        }
      }
    }
  }

  .animate2 {
    margin-bottom: 0px;
    .anim__wrapper {
      animation-direction: reverse;
    }
  }
  @keyframes scrollx {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
